body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-size: var(--font-size-md);
  padding: var(--spacing-lg);
}

h1 {
  font-size: var(--font-size-lg);
  color: var(--color-primary);
}

iframe {
    position: absolute; /* 또는 absolute, fixed */
    z-index: 10;        /* 숫자가 클수록 화면 앞으로 나옵니다 */
}
